/* ***** Wild Card ***** */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

/* ***** Generic ***** */

:root {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    background-color: #e2e2e2;
    font-family: "Marvel", sans-serif;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* ***** Navigation ***** */

.navbar__logo-container {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 1.6rem;
    left: 2rem;
}

.navbar {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(185, 185, 185);
}

.navbar__toggler {
    margin-right: 4rem;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.fa-align-justify {
    font-size: 4rem;
    color: rgb(34, 34, 34);
}

/* ***** Navigation Dropdown Menu ***** */

.navbar__link-container {
    display: none;
}

.navbar__link-container.menu {
    display: block;
}

.navbar__link-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(34, 34, 34);
    padding-right: 1rem;
    position: absolute;
    top: 8rem;
    right: 0;
}

.navbar__link {
    list-style-type: none;
    padding: 2rem 3rem 0 2rem;
}

.navbar__link:first-child {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.navbar__link--item {
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    color: rgba(212, 212, 212);
}

/* ***** Shopping Cart ***** */

.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cart__wrapper {
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cart__heading-wrapper {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart__content-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cart__purchase {
    width: 30%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.cart__img-container {
    width: 50%;
    height: 100%;
}

.cart__img-wrapper {
    max-width: 40rem;
    max-height: 40rem;
}

.cart__img {
    width: 100%;
    height: 100%;
}
