/* ***** Wild Card ***** */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

/* ***** Generic ***** */

:root {
    font-size: 62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #e2e2e2;
    font-family: "Marvel", sans-serif;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
}

h1 {
    font-size: 4.2rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}

/* ***** Navigation ***** */

.navbar__logo-container {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 1.6rem;
    left: 2rem;
}

.navbar {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(185, 185, 185);
}

.navbar__toggler {
    margin-right: 4rem;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.fa-align-justify {
    font-size: 4rem;
    color: rgb(34, 34, 34);
}

/* ***** Navigation Dropdown Menu ***** */

.navbar__link-container {
    display: none;
}

.navbar__link-container.menu {
    display: block;
    z-index: 1;
}

.navbar__link-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(34, 34, 34);
    padding-right: 1rem;
    position: absolute;
    top: 8rem;
    right: 0;
}

.navbar__link {
    list-style-type: none;
    padding: 2rem 3rem 0 2rem;
}

.navbar__link:first-child {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.navbar__link--item {
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    color: rgba(212, 212, 212);
}

.navbar__link--close {
    font-size: 8rem;
}

/* ***** Shopping Cart ***** */

.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cart__wrapper {
    width: 90vw;
    max-width: 120rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.cart__heading-wrapper {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart__content-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.cart__purchase {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 3fr 2fr 0.2rem 1fr;
    gap: 2rem;
}

.cart__img-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart__total-line {
    background-color: rgb(34, 34, 34);
}

.cart__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.1rem solid rgb(34, 34, 34);
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16),
        0 8px 8px rgba(0, 0, 0, 0.2);
}

.cart__submit-wrapper {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__terms {
    width: 40rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart__btn-checkout-container {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cart__checkbox-label {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    display: inline-block;
}

#cartTerms {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.cart__btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16),
        0 8px 8px rgba(0, 0, 0, 0.24);
    text-decoration: none;
    border-radius: 0.3rem;
}

.cartTermsBtn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: rgb(146, 146, 146);
    color: rgb(245, 245, 245);
    border: 0.05rem solid rgb(68, 68, 68);
}

.cartTermsBtn:hover {
    background-color: rgb(131, 131, 131);
    color: rgb(228, 228, 228);
}
.cartTermsBtn:active {
    transform: scale(0.98);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.24);
}

.cartCheckoutBtn {
    font-size: 2rem;
    padding: 2rem 4rem;
    background-color: rgb(72, 121, 72);
    color: rgb(207, 236, 207);
    border: 0.05rem solid rgb(30, 61, 30);
    opacity: 40%;
}

.cartCheckoutBtnActive {
    opacity: 100%;
}

.cartCheckoutBtnActive:hover {
    background-color: rgb(57, 102, 57);
    color: rgb(179, 212, 179);
}

.cartCheckoutBtnActive:active {
    transform: scale(0.98);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.24);
}

/* ***** Modal ***** */

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(124, 124, 124);
    width: 60vw;
    height: 60vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal__content {
    width: 85%;
    height: 70%;
    background-color: rgb(228, 228, 228);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: scroll;
    padding: 3rem;
}

.modal__X-wrapper {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 2rem;
    margin-right: 3rem;
    width: 3rem;
    height: 3rem;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(228, 228, 228);
}

.modal__X-wrapper:hover {
    background-color: rgb(206, 206, 206);
}

.modal__text {
    text-transform: initial;
}

.modal__X {
    font-size: 3rem;
    color: rgb(34, 34, 34);
}

.ActivateModalContainer {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* ***** Media Queries ***** */

@media screen and (max-width: 700px) {
    .cart__content-container {
        height: 50%;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .cart__purchase {
        width: 80%;
        height: 40%;
    }

    .cart__img-container {
        height: 40%;
    }

    .cart__submit-wrapper {
        height: 18%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cart__btn-checkout-container {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    body {
        overflow: scroll;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3,
    p {
        font-size: 1.4rem;
    }

    .cart__content-container {
        height: 60%;
        justify-content: space-around;
    }

    .cart__terms {
        width: 28rem;
    }

    #CartTerms {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    .cart__checkbox-label {
        font-size: 1.6rem;
    }

    .cartTermsBtn {
        font-size: 1rem;
    }

    .cartCheckoutBtn {
        font-size: 1.5rem;
        padding: 1.2rem 2.2rem;
    }
}
